@model IEnumerable<ContactManager.Models.Career>
@{
    ViewBag.Title = "Azcareers";
}

<!--The following content was taken from this website view-source:http://www.mypathcareers.org/careers 24/11/2014 -->
<div class="row">
    <div class="col-sm-12">
        <div align="center">
            <h2>A-Z Careers</h2>
        </div>
    </div>
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            @if(ViewBag.ActiveLetter == "All")
            {
                <li role="presentation" class="active"><a href="#All">All <span class="badge">@Model.Count()</span></a></li>
            }
            else
            {
                <li role="presentation"><a href="@Url.Action("Azcareers", new { id = "All" })">All <span class="badge">@Model.Count()</span></a></li>
            }
            @foreach (var letter in ViewBag.Letters)
            {
                if(ViewBag.ActiveLetter == letter.Key)
                { 
                    <li role="presentation" class="active"><a href="@letter.Key">@letter.Key <span class="badge">@letter.Value</span></a></li>
                }
                else
                {
                    <li role="presentation"><a href="@Url.Action("Azcareers", new { id = letter.Key })">@letter.Key <span class="badge">@letter.Value</span></a></li>
                }
            }
        </ul>
    </div>
    <div class="col-md-9">
        <div class="row">
            @foreach (ContactManager.Models.Career item in Model)
            {
                <div class="col-md-3">
                    <span><a href="@Url.Action("Career", new { id = item.ID })">@item.Name</a></span>
                    <p>@item.Description</p>
                </div>
            }
        </div>
    </div>
</div><!-- class row one-->
