@model ContactManager.Models.Test

@{
    ViewBag.Title = "Test";
    int id = Model == null ? 0 : Model.ID;
    string questions = "[]";
    if (Model != null && Model.Questions != null && Model.Questions.Count() != 0)
    {
        questions = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Questions);
    }
}
<h2>Test</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index")">Admin</a></li>
    <li><a href="@Url.Action("Tests")">Tests</a></li>
    <li class="active">Edit Test</li>
</ol>

@using (Html.BeginForm("Test", "Admin", FormMethod.Post, new { id = "testForm" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="Questions" id="questions" value="[]" />
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <input type="hidden" name="ID" value="@id" />

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Career, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CareerID", ViewBag.Careers as IEnumerable<SelectListItem>, new { id = "careerid", style="width: 300px", @class="chosen", data_placeholder = "Select career" })
            </div>
        </div>
        <div class="form-group">
            <div>
                <label class="control-label col-md-2">Questions</label>
                <div class="col-md-10 questions">
                    @if (Model != null && Model.Questions.Count != 0)
                    {
                        foreach (var question in Model.Questions)
                        {
                            <div class="question" style="padding:10px; cursor:default; width:750px; text-align:left">
                                <input type="hidden" value="@question.ID" />
                                <div class="move-question" style="display:inline; cursor:move">
                                    <span class="glyphicon glyphicon-option-vertical"></span>
                                </div>
                                <div style="display:inline">
                                    <label style="min-width:600px">@Html.Raw(question.Text)</label>
                                </div>
                                <div class="btn-group">
                                    <div title="Edit question" class="btn btn-default edit-question">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </div>
                                    <div title="Delete qiestion" class="btn btn-default delete-question">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
            <div>
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <select id="additem" data-placeholder="Add question" class="chosen">
                        <option></option>
                        <option value="text">Text with gaps</option>
                        <option value="radio">Multiple choice</option>
                        <option value="checkbox">Checkboxes</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<div class="option base-option-checkbox" style="display:none">
    <div class="move-option" style="display:inline; cursor:default">
        <span class="glyphicon glyphicon-option-vertical"></span>
    </div>
    <div style="display:inline">
        <input type="text" style="min-width:300px" />
    </div>
    <div style="display:inline">
        <input name="isright" type="checkbox" /><span>Is right</span>
    </div>
    <div title="Delete option" class="btn btn-default delete-option">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
</div>

<div class="option base-option-radio" style="display:none">
    <div class="move-option" style="display:inline; cursor:default">
        <span class="glyphicon glyphicon-option-vertical"></span>
    </div>
    <div style="display:inline">
        <input type="text" style="min-width:300px" />
    </div>
    <div style="display:inline">
        <input name="isright" type="radio" /><span>Is right</span>
    </div>
    <div title="Delete option" class="btn btn-default delete-option">
        <span class="glyphicon glyphicon-remove"></span>
    </div>
</div>

<div class="question base-question" style="padding:10px; cursor:default; width:750px; text-align:left; display:none">
    <input type="hidden" />
    <div class="move-question" style="display:inline; cursor:default">
        <span class="glyphicon glyphicon-option-vertical"></span>
    </div>
    <div style="display:inline">
        <label style="min-width:600px"></label>
    </div>
    <div class="btn-group">
        <div title="Edit question" class="btn btn-default edit-question">
            <span class="glyphicon glyphicon-pencil"></span>
        </div>
        <div title="Delete qiestion" class="btn btn-default delete-question">
            <span class="glyphicon glyphicon-remove"></span>
        </div>
    </div>
</div>

<div id="modalTextQuestion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalTextQuestionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modalTextQuestionLabel">Text with gaps</h4>
            </div>
            <div class="form-horizontal" style="margin:10px">
                <div class="form-group">
                    <form id="textQuestionForm">
                        <input id="type" type="hidden" value="text" />
                        <input id="ID" type="hidden" />
                        <div class="form-group">
                            <label class="control-label col-md-3">Question Title</label>
                            <div class="col-md-8">
                                <input id="Text" class="input-field" type="text" required data-val="true" data-val-required="The Question Title is requeired." name="Text" />
                                <span class="field-validation-valid" data-valmsg-for="Text" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Help Text</label>
                            <div class="col-md-8">
                                <input id="HelpText" class="input-field" data-val="true" type="text" name="HelpText" />
                                <span class="field-validation-valid" data-valmsg-for="HelpText" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Text</label>
                            <div class="col-md-8">
                                <textarea id="options"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveQuestion($('#modalTextQuestion'))">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="modalMultipleChoiceQuestion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalMultipleChoiceQuestionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modalMultipleChoiceQuestionLabel">Multiple choice</h4>
            </div>
            <div class="form-horizontal" style="margin:10px">
                <div class="form-group">
                    <form id="multipleChoiceQuestionForm">
                        <input id="type" type="hidden" value="radio" />
                        <input id="ID" type="hidden" />
                        <div class="form-group">
                            <label class="control-label col-md-3">Question Title</label>
                            <div class="col-md-8">
                                <input id="Text" class="input-field" type="text" required data-val="true" data-val-required="The Question Title is requeired." name="Text" />
                                <span class="field-validation-valid" data-valmsg-for="Text" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Help Text</label>
                            <div class="col-md-8">
                                <input id="HelpText" class="input-field" data-val="true" type="text" name="HelpText" />
                                <span class="field-validation-valid" data-valmsg-for="HelpText" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Options</label>
                            <div class="col-md-8">
                                <div class="options">
                                    <button type="button" class="btn btn-primary add-option">Add option</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveQuestion($('#modalMultipleChoiceQuestion'))">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="modalCheckboxesQuestion" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalCheckboxesQuestionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modalMultipleChoiceQuestionLabel">Multiple choice</h4>
            </div>
            <div class="form-horizontal" style="margin:10px">
                <div class="form-group">
                    <form id="checkboxesQuestionForm">
                        <input id="type" type="hidden" value="checkbox" />
                        <input id="ID" type="hidden" />
                        <div class="form-group">
                            <label class="control-label col-md-3">Question Title</label>
                            <div class="col-md-8">
                                <input id="Text" class="input-field" required type="text" data-val="true" data-val-required="The Question Title is requeired." name="Text" />
                                <span class="field-validation-valid" data-valmsg-for="Text" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Help Text</label>
                            <div class="col-md-8">
                                <input id="HelpText" class="input-field" data-val="true" type="text" name="HelpText" />
                                <span class="field-validation-valid" data-valmsg-for="HelpText" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3">Options</label>
                            <div class="col-md-8">
                                <div class="options">
                                    <button type="button" class="btn btn-primary add-option">Add option</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveQuestion($('#modalCheckboxesQuestion'))">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var q = '@Html.Raw(questions)';
    </script>
    @Scripts.Render("~/bundles/jqueryval", "~/bundles/chosen", "~/bundles/ckeditor", "~/bundles/testeditform")
    
}
